/* Global styles */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(10, 186, 230);
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
}

h2, h3 {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Current weather styles */

.current-weather {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.current-weather .weather-icon {
  margin-right: 20px;
}

.current-weather .weather-icon img {
  max-width: 100px;
  max-height: 100px;
}

.current-weather .weather-details {
  flex: 1;
}

.current-weather .city-state {
  font-size: 36px;
  margin: 0;
}

.current-weather .temperature {
  font-size: 72px;
  font-weight: bold;
  margin: 10px 0;
}

.current-weather .weather-description {
  font-size: 24px;
  margin: 0;
}

/* 5-day forecast styles */

.forecast {
  display: flex;
  flex-wrap: wrap;
}

.forecast .day {
  flex-basis: 20%;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}

.forecast .weather-icon {
  flex-basis: 20%;
  margin-bottom: 20px;
}

.forecast .weather-icon img {
  max-width: 80px;
  max-height: 80px;
}

.forecast .temp {
  flex-basis: 20%;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}

/* Extra weather info styles */

.extra-info {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.extra-info ul li {
